<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <form  action="#" th:action="@{/users/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${user.id}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name" th:value="${user.name}">
        <label for="lastName">lastName</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Email" th:value="${user.lastName}">
        <input type="submit" value="Add User">
    </form>
</body>
</html>